<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Levonke is a service for electronics developers</p>
        <p>Learn some more about <a href="http://matthewpoletin.ru/levonke">development of this project</a></p>
        <p>Support me in <a href="http://trello.com/#">development</a></p>
        <p>Support me via <a href="mailto:contact@matthewpoletin.ru">morally</a></p>
        <p>Support me via <a href="http://paypal.com/matthewpoletin#levonke">PayPal</a></p>
        <p>Support me on <a href="http://patreon.com/levonke">Patreon</a></p>
    </body>
</html>
