<!DOCTYPE html>
<html>
    <head>
        <%- include('head', {}); %>
    </head>
    <body>
        <%- include('header', {}); %>
        <div class="content">
            <div>
                <h2>ABOUT</h2>
                <p>Levonke is a service for electronics developers</p>
                <p>Learn some more about <a href="http://matthewpoletin.ru/levonke">development of this project</a></p>
                <p>Support me in <a href="https://trello.com/b/BNiDbHc7">development</a></p>
                <p>Support me via <a href="http://paypal.com/matthewpoletin#levonke">PayPal</a></p>
                <p>Support me on <a href="https://www.patreon.com/matthewpoletin">Patreon</a></p>
                <p>Support me <a href="mailto:contact@matthewpoletin.ru?subject=<3&body=I<3U">morally</a></p>
            </div>
            <div class="pure-g mobile-apps">
                <div class="pure-u-1-1">
                    <h2>MOBILE APPS</h2>
                </div>
                <div class="pure-u-1-2 mobile-apps-item">
                    <a href="#" title="Download android application">
                        <div class="store-icon"><i class="fab fa-google-play fa-5x"></i></div>
                        <div class="store-title">Google Play</div>
                    </a>
                </div>
                <div class="pure-u-1-2 mobile-apps-item">
                    <a href="#" title="Download iOS application">
                        <div class="store-icon"><i class="fab fa-app-store-ios fa-5x"></i></div>
                        <div class="store-title">App Store</div>
                    </a>
                </div>
            </div>
        </div>
        <%- include('footer', {}); %>
    </body>
</html>
