<!DOCTYPE html>
<html>
    <head>
        <%- include('head', {}); %>
    </head>
    <body>
        <%- include('header', {}); %>
        <div class="content">
            <h2>ABOUT</h2>
            <p>Levonke is a service for electronics developers</p>
            <p>Learn some more about <a href="http://matthewpoletin.ru/levonke">development of this project</a></p>
            <p>Support me in <a href="https://trello.com/b/BNiDbHc7">development</a></p>
            <p>Support me via <a href="http://paypal.com/matthewpoletin#levonke">PayPal</a></p>
            <p>Support me on <a href="https://www.patreon.com/matthewpoletin">Patreon</a></p>
            <p>Support me <a href="mailto:contact@matthewpoletin.ru?subject=<3&body=I<3U">morally</a></p>
            <div class="mobile-apps">
            <h2>MOBILE APPS</h2>
                <div class="mobile-apps-item">
                    <a href="#">
                        <i class="fab fa-google-play fa-5x"></i>
                        Google Play
                    </a>
                </div>
                <div class="mobile-apps-item">
                    <a href="#">
                        <i class="fab fa-app-store-ios fa-5x"></i>
                        App Store
                    </a>
                </div>
            </div>
        </div>
        <%- include('footer', {}); %>
    </body>
</html>
