<!DOCTYPE html>
<html>
    <head>
        <%- include('head', {}); %>
    </head>
    <body>
        <%- include('header', {}); %>
        <div class="content">
            <h2>API</h2>
            <p>*General info about API*</p>
        </div>
        <%- include('footer', {}); %>
    </body>
</html>
