<hr>
<div class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul >
            <li class="pure-menu-item">
                © <%= (new Date()).getFullYear() %> <%= projectName %> Inc
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="/status">Status</a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="/help">Help</a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="/contact">Contact</a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="/api">API</a>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</div>
