<div class="header">
    <div class="custom-menu-wrapper">
        <div class="pure-menu custom-menu custom-menu-top">
            <a href="/" class="pure-menu-heading custom-menu-brand"><%= projectName %></a>
            <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
        </div>
        <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked" id="tuckedMenu">
            <div class="custom-menu-screen"></div>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <form class="pure-form" accept-charset="UTF-8" method="get" action="/search">
                        <input name="q" type="text" class="pure-input-rounded">
                    </form>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="/users">
                        <i class="fas fa-user"></i>&nbsp;Users
                    </a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="/organizations">
                        <i class="fas fa-building"></i>&nbsp;Organizations
                    </a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="/teams">
                        <i class="fas fa-users"></i>&nbsp;Teams
                    </a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="/projects">
                        <i class="fas fa-book"></i>&nbsp;Projects
                    </a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="/components">
                        <i class="fas fa-microchip"></i>&nbsp;Components
                    </a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="/manufacturers">
                        <i class="fas fa-industry"></i>&nbsp;Manufacturers
                    </a>
                </li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a class="pure-menu-link"><i class="fas fa-plus"></i></a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="#">*new organization*</a></li>
                        <li class="pure-menu-item"><a href="#">*new project*</a></li>
                        <li class="pure-menu-item"><a href="#">*new storage*</a></li>
                    </ul>
                </li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="menuLink1" class="pure-menu-link">
                        <img width="20px" height="20px" src="" style="background-color:wheat">
                    </a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="/settings" class="pure-menu-link">Settings</a></li>
                        <li class="pure-menu-item"><a href="/user/matthewpoletin" class="pure-menu-link">Profile</a></li>
                        <li class="pure-menu-item"><a href="/" class="pure-menu-link">Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <script>
        (function (window, document) {
            document.getElementById('toggle').addEventListener('click', function (e) {
                document.getElementById('tuckedMenu').classList.toggle('custom-menu-tucked');
                document.getElementById('toggle').classList.toggle('x');
            });
        })(this, this.document);
    </script>
    <!--TODO: add search box-->

    <!--<form class="pure-form">-->
        <!--<input type="text" class="pure-input-rounded">-->
        <!--<button type="submit" class="pure-button">Search</button>-->
    <!--</form>-->
    <!--<hr>-->
</div>
