<!DOCTYPE html>
<html>
    <head>
        <%- include('head', {}); %>
    </head>
    <body>
        <%- include('header', {}); %>
        <div class="content">
            <h2>HELP</h2>
            <p><a href="#">Forum</a></p>
            <p><a href="#">FAQ</a></p>
            <p><a href="#">Support</a></p>
        </div>
        <%- include('footer', {}); %>
    </body>
</html>
