<!DOCTYPE html>
<html>
    <head>
        <%- include('head', {}); %>
    </head>
    <body>
        <%- include('header', {}); %>
        <div class="content">
            <form class="pure-form pure-form-stacked" method="post" accept-charset="UTF-8" action="/login" id="join-form">
                <fieldset>
                    <legend>Sign in</legend>

                    <label for="username">Username</label>
                    <input id="username" name="username" type="text" placeholder="Username">
                    <span class="pure-form-message">This is a required field.</span>

                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" placeholder="Password">
                    <span class="pure-form-message">This is a required field.</span>

                    <label for="remember" class="pure-checkbox">
                        <input id="remember" name="remember" type="checkbox"> Remember me
                    </label>

                    <button id="submit" type="submit" class="pure-button pure-button-primary">Sign in</button>
                </fieldset>

            </form>
            <script src="/js/lib/cookie.js"></script>
            <script src="/js/auth.js"></script>
        </div>
        <%- include('footer', {}); %>
    </body>
</html>
